body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    color: var(--color-text-primary);
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(56, 56, 56);

}

.menu {
    width: 30%;
    display: flex;
    float: left;
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
    border: 0;
    border-radius: 3;
    box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
    color: 'white';
    height: 48;
    padding: '0 30px';
 }

li {
    list-style-type: none;
    margin: 0 0 10px 0;
    float: left;
    background: #e7f0fc;
    padding: 1em 1.5em;
    border-radius: 1em;
    position: relative;
    line-height: 1.5em;
    max-width: 30%;
}

ul {
    padding-left: 0;
    margin: 0 0 30px 17px;
    display: flex;
    flex-direction: column;

}

Button {
    width: 100px;
    height: 56px;
}

.MuiFormControl-root {
    width: 35%;
}

.container {
    display: flex;
}
