li {
    list-style-type: none;
    margin: 0 0 10px 0;
    float: left;
    background: #e7f0fc;
    padding: 1em 1.5em;
    border-radius: 1em;
    position: relative;
    line-height: 1.5em;
    max-width: 30%;
}

ul {
    padding-left: 0;
    margin: 0 0 30px 17px;
    display: flex;
    flex-direction: column;

}
body {
    font-family: 'Roboto', sans-serif;
}

Button {
    width: 100px;
    height: 56px;
}

.MuiFormControl-root {
    width: 35%;
}

.container {
    display: flex;
}

.message-list {
    width: 80%;
    padding: 0 0 0 2%;
}

.chat-list {
    margin: 1% 0 0 0;
    width: 14%;
    border-right: 1px solid;
    text-align: center;
}

h3 {
    text-align: center;
}
